@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}
.site_header {
  background-color: #1e252b;
}

.container {
  max-width: 1256px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.site_header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 26px;
  padding-bottom: 58px;
}
.nav_list {
  display: flex;
  width: 431px;
  justify-content: space-between;
}

.nav_list_item_link {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff8c;
}

.nav_select {
  border: none;
  background-color: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff8c;
  cursor: pointer;
}

.login_btns {
  display: flex;
  gap: 41px;
}
.login {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  border: none;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.78);
  opacity: 0.78;
  cursor: pointer;
}
.signup {
  width: 118px;
  height: 48px;
  background: #ff6e30;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #fdf5ff;
  border: none;
  cursor: pointer;
}

/************************************* header end ******************************/

/************************************* main start ***************************************/

.main_top_sec {
  background-color: #1e252b;
}

.main_top_wrapper {
  display: flex;
  position: relative;
}
.main_top_title {
  width: 600px;
  font-weight: 500;
  font-size: 50px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.9);
  margin-top: 58px;
  margin-bottom: 30px;
}

.main_top_desc {
  width: 487px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.55);
  margin-bottom: 60px;
}
.main_top_img {
  position: absolute;
  top: -12px;
  right: -115px;
}
.search_form {
  position: relative;
  margin-bottom: 110px;
}
.search_input {
  width: 497.66px;
  height: 64px;
  background: #283036;
  padding-left: 55px;
  border-radius: 15px;
  border: none;
  background-image: url(../images/lupa.svg);
  background-position: calc(50% - 220px);
  background-repeat: no-repeat;
}
::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.38);
}
.search_btn {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  width: 130.43px;
  height: 48px;
  background: #ff6e30;
  border-radius: 8px;
  border: none;
  position: absolute;
  top: 5px;
  right: 115px;
}

.icon-list {
  display: flex;
  gap: 20px;
}

/*************************** most popular tools section   **********************************/

.popular_tools {
  background-color: #1e252b;
  padding-top: 200px;
}

.popular_title {
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  color: #ffffffe6;
  margin-bottom: 25px;
}
.popular_desc {
  width: 427px;
  margin: 0 auto;
  margin-bottom: 90px;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #ffffff8c;
}
.popular_wrapper {
  width: 1244px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.popular_card {
  padding: 33px;
  width: 392px;

  border-radius: 15px;
}
.popular_card:hover {
  position: relative;
  z-index: 50;
  background: rgba(40, 48, 54, 0.6);
  backdrop-filter: blur(25px);
  border-radius: 15px;
}

.popular_card:hover .card_btn {
  background-color: #ff6e30;
  border-radius: 8px;
}
.popular_card:hover svg {
  fill: #ff0000;
}
.card_img {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}
.tool_name {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #ffffffc7;
}
.staus {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #ffa5378c;
}
.card_desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff8c;
  margin-bottom: 41.37px;
}

.card_icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card_btn {
  width: 106px;
  height: 42px;
  background: #1e252b;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff8c;
  border: none;
}
.icons {
  display: flex;
  gap: 20px;
}
svg {
  fill: white;
}
.load_more {
  font-family: "Poppins";
  font-style: normal;
  width: 184px;
  height: 64px;
  background: #1e252b;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;

  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ff6e30;
  margin-bottom: 200px;
}

/********************************* trusted section  ********************************/

.trusted {
  background: #1e252b;
  padding-bottom: 200px;
}
.trusted_title {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #ffffffcc;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 55px;
}

.tristed_wrapper {
  display: flex;
  flex-direction: column;
  width: 1224px;
  background: #2c353d33;
  backdrop-filter: blur(25px);
  border-radius: 25px;

  padding-top: 55px;
  padding-right: 83px;
  padding-left: 82px;
  padding-bottom: 57px;
}
.trusted_companies {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/******************************* newcomer toools section  *******************************/
.new_tools {
  background: #1e252b;
  padding-bottom: 200px;
}
.new_tools_wrapper {
  display: flex;
  justify-content: space-between;
}
.wrapper_article {
  margin-right: 213px;
}
.wrapper_article_title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 30px;
}
.wrapper_article_desc {
  width: 427px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.55);
  margin-bottom: 60px;
}
.wrapper_btn {
  width: 198px;
  height: 58px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  cursor: pointer;
  border: none;
  color: #ffffff;
  background: #ff6e30;
  border-radius: 8px;
}

.new_toolbar {
  display: flex;
  flex-wrap: wrap;
}
.new_tools_card {
  width: 288px;
  padding: 28px 21px 28px 22px;
  background: #1e252b;
  border-radius: 15px;
}

.new_tools_card:hover {
  width: 288px;
  height: 284px;
  background-color: #242c32;
  backdrop-filter: blur(25px);
  border-radius: 15px;
}

.new_tools_card:hover button {
  background: #ff6e30;
  border-radius: 8px;
}

/************************************** manager section  ***********************************/

.manager {
  background: #1e252b;
}
.manager_wrapper {
  display: flex;
  justify-content: space-between;
  background-image: url(../images/qutos.svg);
  background-repeat: no-repeat;
  background-position: 633px 93px;
  margin-bottom: 100px;
}

.left_arrow {
  display: block;
  width: 80px;
  height: 100px;
  background: #1e252b;
  border-radius: 8px;
  margin-top: 50px;
  padding: 38px 30px 19px 29px;
}
.left_arrow:hover {
  border-radius: 8px;
  border: 1px solid lightblue;
  padding: 38px 30px 19px 29px;
}

.right_arrow {
  display: block;
  width: 80px;
  height: 100px;
  background: #1e252b;
  border-radius: 8px;
  margin-top: 50px;
  padding: 25px 30px 19px 11px;
}
.right_arrow:hover {
  border-radius: 8px;
  border: 1px solid lightblue;
  padding: 25px 30px 19px 11px;
}

.left_side {
  display: flex;
  align-items: center;
  gap: 50px;
}
.right_side {
  display: flex;
  align-items: center;
  gap: 50px;
}

.right_side_desc {
  width: 393px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.015em;
  color: rgba(255, 255, 255, 0.78);
}

.indikator {
  display: block;
  margin: 0 auto;
}

/********************************* contribution section  *********************************/

.contribution {
  background: #1e252b;
}
.cont_wrapper {
  padding-top: 250px;
  padding-bottom: 240px;
}

.contribution_title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  color: #ffffffe6;
  margin: 0 auto;
  margin-bottom: 25px;
}

.contribution_desc {
  width: 427px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  margin: 0 auto;
  color: #ffffff8c;
  margin-bottom: 100px;
}

.cont_form {

  position: relative;

}

.cont_input {
  display: block;
  width: 549px;
  height: 64px;
  background: #283036;
  border-radius: 15px;
  padding-left: 30px;
  margin: 0 auto;
  border: none;
}
.cont_btn {
  position: absolute;
  top: 10px;
  right: 350px;
  width: 130.43px;
  height: 48px;
  border: none;
  color: #fff;
  background: #ff6e30;
  border-radius: 8px;
}


